/* home.css */

.home-container {
  display: grid;
  grid-template-areas:
    'top-left top-right'
    'bottom bottom';
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  gap: 20px;
  height: auto;
  padding: 20px;
  background-color: #F5F5F5;
}

.top-left {
  grid-area: top-left;
  display: flex;
  flex-direction: column;
  align-items: center; /* 이미지와 텍스트를 세로로 가운데 정렬 */
  justify-content: center;
  text-align: center;
  color: #557656;
  text-align: center; /* 버튼 내 텍스트를 중앙 정렬 */
  font-weight: bold; /* 글씨를 bold체로 설정 */
}

.shannti { 
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: auto;
}

.top-right {
  grid-area: top-right;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #557656;
  font-size: 50px;
  font-weight: bold; /* 글씨를 bold체로 설정 */
}

.bottom {
  grid-area: bottom;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width:100%;
  background-color: #D3D4D6;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #b6be86;
  padding: 30px 80px; /* 크기를 조정 */
  border-radius: 8px;
  color: #557656;
  cursor: pointer;
  font-size: 30px;
  text-align: center; /* 버튼 내 텍스트를 중앙 정렬 */
  font-weight: bold; /* 글씨를 bold체로 설정 */
}

button img {
  margin-bottom: 10px; /* 이미지 아래에 여백 추가 */
  width: 150px;
  height: 100px;
}
